In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [4]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
129,tt2713180,68000000,211817906,Fury,Brad Pitt|Shia LaBeouf|Logan Lerman|Michael Pe...,David Ayer,War never ends quietly.,Last months of World War II in April 1945. As ...,135,War|Drama|Action,Columbia Pictures|QED International|Crave Film...,10/15/2014,7.4,2014
1444,tt0482571,40000000,109676311,The Prestige,Hugh Jackman|Christian Bale|Michael Caine|Scar...,Christopher Nolan,Are You Watching Closely?,A mysterious story of two magicians whose inte...,130,Drama|Mystery|Thriller,Touchstone Pictures|Syncopy,10/19/2006,7.8,2006
207,tt1100089,24000000,12096300,Foxcatcher,Steve Carell|Channing Tatum|Mark Ruffalo|Sienn...,Bennett Miller,Based on the shocking true story,The greatest Olympic Wrestling Champion brothe...,134,Drama|Thriller,Likely Story|Media Rights Capital|Annapurna Pi...,5/19/2014,6.5,2014
1779,tt0446013,45000000,30822861,Pathfinder,Karl Urban|Moon Bloodgood|Russell Means|Clancy...,Marcus Nispel,"Two Worlds, One War. The Ultimate Battle Begins.",A Viking boy is left behind after his clan bat...,99,Action,Twentieth Century Fox Film Corporation|Dune En...,1/11/2007,5.4,2007
361,tt1175506,25000000,2336172,Me and Orson Welles,Zac Efron|Claire Danes|Christian McKay|Imogen ...,Richard Linklater,If you want to discover life learn from the ma...,"New York, 1937. A teenager hired to star in Or...",114,Comedy|Drama|Romance,Isle of Man Film|Freestyle Releasing|CinemaNX,11/25/2009,6.4,2009

In [5]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [8]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

data['profit'] = np.subtract(data['revenue'], data['budget'])

import operator
def genres_max (gen):
    genres = []
    flat_list = []
    for genre in gen:
        genres.append(genre.split("|"))

    for sublist in genres:
        for item in sublist:
            flat_list.append(item)
    genres_count = dict(Counter(flat_list))
    res = max(genres_count.items(), key=operator.itemgetter(1))[0]

    return res

def genres_profit (gen):
    genres = []
    flat_list = []
    for genre in gen['genres'][gen['profit']>0]:
        genres.append(genre.split("|"))

    for sublist in genres:
        for item in sublist:
            flat_list.append(item)
    genres_count = dict(Counter(flat_list))
    res = max(genres_count.items(), key=operator.itemgetter(1))[0]

    return res

def director_max_revenue (gen):
    max_revenue = 0
    director_max = ''
    rev_sum = 0
    for director in gen['director']:
        for rev in gen['revenue'][gen['director']==director]:
            rev_sum+=rev
        if rev_sum>max_revenue:
            max_revenue = rev_sum
            director_max = director
        rev_sum = 0


    return director_max

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [37]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [38]:
# тут пишем ваш код для решения данного вопроса:
print(data['original_title'][data['budget']==data['budget'].max()])

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [39]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [40]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [41]:
print(data['original_title'][data['runtime']==data['runtime'].max()])

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [42]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [43]:
print(data['original_title'][data['runtime']==data['runtime'].min()])

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [44]:
answers['4'] = '4. 110'

In [45]:
print(data['runtime'].mean())

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [46]:
answers['5'] = '5. 107'

In [47]:
print(data['runtime'].median()) #5

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [48]:
answers['6'] = '6. Avatar (tt0499549)'

In [49]:
# лучше код получения столбца profit вынести в Предобработку что в начале
print(data['original_title'][data['profit']==data['profit'].max()]) #6

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [50]:
answers['7'] = '7. The Lone Ranger (tt1210819)'

In [51]:
print(data['original_title'][data['profit']==data['profit'].min()]) #7

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [52]:
answers['8'] = '8. 1478'

In [53]:
print(len(data[data['profit']>0]))

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [54]:
answers['9'] = '9. The Dark Knight (tt0468569)'

In [55]:
data2008 = data[data['release_year'] == 2008]
print(data2008['original_title'][data2008['profit'] == data2008['profit'].max()]) #9

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [56]:
answers['10'] = '10. The Lone Ranger (tt1210819)'

In [57]:
data2012 = data[(data['release_year']>= 2012) & (data['release_year']<= 2014)]
print(data2012['original_title'][data2012['profit']==data2012['profit'].min()]) #10

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [11]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '11. Drama'

In [12]:
print(genres_max(data['genres']))

Drama

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [13]:
answers['12'] = '12. Drama'

In [14]:
print(genres_profit(data)) #12

Drama

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [15]:
answers['13'] = '13. Peter Jackson'

In [16]:
print(director_max_revenue(data)) #13

Peter Jackson

# 14. Какой режисер снял больше всего фильмов в стиле Action?

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

# 18. Самый убыточный фильм от Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)